// --krds-white: #fff;
// --krds-black: #000;
// --krds-primary: #246beb;
// --krds-secondary: #003675;
// --krds-point: #e71825;
// --krds-danger: #eb003b;
// --krds-warning: #ffb724;
// --krds-success: #008a1e;
// --krds-information: #2768ff;
// --krds-primary-5: #eff5ff;
// --krds-primary-10: #d3e1fb;
// --krds-primary-20: #a7c4f7;
// --krds-primary-30: #7ca6f3;
// --krds-primary-40: #5089ef;
// --krds-primary-60: #1d56bc;
// --krds-primary-70: #16408d;
// --krds-primary-80: #0e2b5e;
// --krds-primary-90: #07152f;
// --krds-secondary-5: #edf1f5;
// --krds-secondary-10: #cdd7e4;
// --krds-secondary-20: #b4c4d6;
// --krds-secondary-30: #99b0cb;
// --krds-secondary-40: #2a5c96;
// --krds-secondary-60: #002b5e;
// --krds-secondary-70: #002046;
// --krds-secondary-80: #00162f;
// --krds-secondary-90: #000b17;
// --krds-point-5: #fdf2f3;
// --krds-point-10: #fad1d3;
// --krds-point-20: #f5a3a8;
// --krds-point-30: #f1747c;
// --krds-point-40: #ec4651;
// --krds-point-60: #b9131e;
// --krds-point-70: #8b0e16;
// --krds-point-80: #5c0a0f;
// --krds-point-90: #2e0507;
// --krds-gray-5: #f8f8f8;
// --krds-gray-10: #f0f0f0;
// --krds-gray-20: #e4e4e4;
// --krds-gray-30: #d8d8d8;
// --krds-gray-40: #c6c6c6;
// --krds-gray-50: #8e8e8e;
// --krds-gray-60: #717171;
// --krds-gray-70: #555555;
// --krds-gray-80: #2d2d2d;
// --krds-gray-90: #1d1d1d;

$primary-0: #ffffff;
$primary-5: #eff5ff;
$primary-10: #d3e1fb;
$primary-20: #a7c4f7;
$primary-30: #7ca6f3;
$primary-40: #5089ef;
$primary-50: #246beb;
$primary-60: #1d56bc;
$primary-70: #16408d;
$primary-80: #0e2b5e;
$primary-90: #07152f;
$primary-100: #000000;

$secondary-0: #ffffff;
$secondary-5: #edf1f5;
$secondary-10: #cdd7e4;
$secondary-20: #b4c4d6;
$secondary-30: #99b0cb;
$secondary-40: #2a5c96;
$secondary-50: #003675;
$secondary-60: #002b5e;
$secondary-70: #002046;
$secondary-80: #00162f;
$secondary-90: #000b17;
$secondary-100: #000000;

$grayscale-0: #ffffff;
$grayscale-5: #f8f8f8;
$grayscale-10: #f0f0f0;
$grayscale-20: #e4e4e4;
$grayscale-30: #d8d8d8;
$grayscale-40: #c6c6c6;
$grayscale-50: #8e8e8e;
$grayscale-60: #717171;
$grayscale-70: #555555;
$grayscale-80: #2d2d2d;
$grayscale-90: #1d1d1d;
$grayscale-100: #000000;

$point-5: #fdf2f3;
$point-10: #fad1d3;
$point-20: #f5a3a8;
$point-30: #f1747c;
$point-40: #ec4651;
$point-60: #b9131e;
$point-70: #8b0e16;
$point-80: #5c0a0f;
$point-90: #2e0507;

$danger-5: #feecf0;
$danger-10: #fcd4de;
$danger-20: #f799b1;
$danger-30: #f36689;
$danger-40: #ef3e5e;
$danger-50: #eb003b;
$danger-60: #d50136;
$danger-70: #8d0023;
$danger-80: #5e0016;
$danger-90: #2f000c;

$warning-5: #fff8e9;
$warning-10: #ffeac1;
$warning-20: #ffe2a7;
$warning-30: #ffd47c;
$warning-40: #ffc550;
$warning-50: #ffb724;
$warning-60: #98690a;
$warning-70: #66490e;
$warning-80: #4d370b;
$warning-90: #332507;

$success-5: #eef7f0;
$success-10: #cee9d4;
$success-20: #b2dcbb;
$success-30: #8cca99;
$success-40: #33a14b;
$success-50: #008a1e;
$success-60: #006e18;
$success-70: #005312;
$success-80: #00370c;
$success-90: #002207;

$information-5: #e9f0ff;
$information-10: #d4e1ff;
$information-20: #a9c3ff;
$information-30: #7da4ff;
$information-40: #5286ff;
$information-50: #2768ff;
$information-60: #1f53cc;
$information-70: #173e99;
$information-80: #0c1f4d;
$information-90: #040a1a;

$navy-5: #f1f1f9;
$navy-10: #d3d5ed;
$navy-20: #a7abda;
$navy-30: #7b82cb;
$navy-40: #4f58b5;
$navy-50: #232ea3;
$navy-60: #1c2582;
$navy-70: #151c62;
$navy-80: #0e1241;
$navy-90: #070921;

$blue-5: #f0f3ff;
$blue-10: #d2dcfe;
$blue-20: #a4b8fe;
$blue-30: #7795fd;
$blue-40: #4971fd;
$blue-50: #1c4efc;
$blue-60: #163eca;
$blue-70: #112f97;
$blue-80: #0b1f65;
$blue-90: #061032;

$royal-blue-5: #ebf5ff;
$royal-blue-10: #c7e3ff;
$royal-blue-20: #8fc8ff;
$royal-blue-30: #56acff;
$royal-blue-40: #1e90ef;
$royal-blue-50: #0074e5;
$royal-blue-60: #0056aa;
$royal-blue-70: #00407f;
$royal-blue-80: #002b55;
$royal-blue-90: #00152a;
